[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy.git
[submodule "assets/vendor/MaterialDesign-Webfont"]
	path = assets/vendor/MaterialDesign-Webfont
	url = https://github.com/Templarian/MaterialDesign-Webfont.git
